/** 
Escribir el CSS necesario aqui
*/

p{
	background-color:white;
	border:1px dashed black;
	text-align: center;
	
}
div{
	width: 50;
	height: 150;
	border: 10px solid blueviolet ;
	padding: 30px;
	background-color: bisque;
	margin: 30px;
}